@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');


body{
    background-color: #F3E7E2;
    margin: 0;
}
/* CLASSI FONT */
.danfo-regular {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ELSH" 0;
  }

  .oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  
/*FINE CLASSI FONT*/

:root{
    --night: hsla(330, 10%, 4%, 1);
    --eerie-black: hsla(206, 14%, 10%, 1);
    --blood-red: hsla(359, 87%, 21%, 1);
    --cornell-red: hsla(358, 76%, 36%, 1);
    --cornell-red-2: hsla(359, 77%, 41%, 1);
    --imperial-red: hsla(359, 77%, 56%, 1);
    --silver: hsla(5, 7%, 67%, 1);
    --timberwolf: hsla(0, 0%, 83%, 1);
    --white-smoke: hsla(330, 9%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --cornsilk: #F2E9DC;
    --brown-sugar: #9E5E42;
    --desert-sand: #D5AB9A;
}

.special-coffe-container{
    width: 16em;
    height: 16em;
    border-radius: 100%;
    background-color: var(--brown-sugar);
    z-index: 2;
}

.special-coffe-cover{
    position: absolute;
    width: 100%;
    height: 11em;
    background-color: var(--desert-sand);
    z-index: 1;
}

.center{
    justify-content: center;
    align-items: center;
}

nav{
    display:flex;
    align-items:center;
    margin: 8px;
}


nav > a{
    margin-left: 1em;
}

nav > a:hover{
     cursor: url('./img/cursor_image.svg'), auto;
     color: var(--brown-sugar);
}

.nav-link{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.logo-text{
    margin: 5px;
    margin-right: 50%;
    font-size: 30px;
}

.footer{
    position: absolute;
    height: 5em;
    width: 100%;
    margin: 0%;
    background-color: var(--desert-sand);
    bottom:0px;
}

.heading-container{
    width: 100%;
    height: 30em;
}


.heading-container > p{
   font-size: 20px;
   text-align: center;
}

.heading-container > img{
    position: absolute;

 }
 

.carousel-img{
    width: 400px !important;
    height: 400px !important;
}

@keyframes zoom {
    from {zoom:1;}
    to {zoom:1.2;}
}

@keyframes de-zoom {
    from {zoom:1.2;}
    to {zoom:1;}
}
.carousel-img:hover{
    animation: zoom 0.25s forwards;
    border-radius: 16px;
    z-index: 999;
    animation-fill-mode: forwards;
}

.carousel-img:not(:hover){
    animation: de-zoom 0.25s forwards;
    border-radius: 16px;
    z-index: 0;
    animation-fill-mode: forwards;
}



@media only screen and (max-width: 768px) {
    nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
  }