@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #F3E7E2;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    margin: 8px;
}


nav>a {
    margin-left: 1em;
}

nav>a:hover {
    cursor: url('./img/cursor_image.svg'), auto;
    color: var(--brown-sugar);
}

h1{
    font-size: 40px;
}
/* CLASSI FONT */
.danfo-regular {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
}

.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}

.oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.kanit-black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.kanit-black-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/*FINE CLASSI FONT*/

:root {
    --night: hsla(330, 10%, 4%, 1);
    --eerie-black: hsla(206, 14%, 10%, 1);
    --blood-red: hsla(359, 87%, 21%, 1);
    --cornell-red: hsla(358, 76%, 36%, 1);
    --cornell-red-2: hsla(359, 77%, 41%, 1);
    --imperial-red: hsla(359, 77%, 56%, 1);
    --silver: hsla(5, 7%, 67%, 1);
    --timberwolf: hsla(0, 0%, 83%, 1);
    --white-smoke: hsla(330, 9%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --cornsilk: #F2E9DC;
    --brown-sugar: #9E5E42;
    --desert-sand: #D5AB9A;
}

.special-coffe-container {
    width: 16em;
    height: 16em;
    border-radius: 100%;
    background-color: var(--brown-sugar);
    z-index: 2;
}

.special-coffe-cover {
    position: absolute;
    width: 100%;
    height: 11em;
    background-color: var(--desert-sand);
    z-index: 1;
}

.center {
    justify-content: center;
    align-items: center;
}


.nav-link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.logo-text {
    margin: 5px;
    margin-right: 50%;
    font-size: 30px;
}

.footer {
    height: 5em;
    width: 100%;
    background-color: var(--desert-sand);
}

.heading-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5em 25%;
}


.heading-container>p {
    font-size: 20px;
    text-align: center;
}

.carousel-img {
    width: 375px;
    height: 375px;
    margin: 5px;
}

.text-center{
    text-align: center;
}

.menu-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    margin:  1em auto;
    gap: 1em;
}

.menu-container > *{
    width: 20rem;
    height: 30rem;
    background-color: red;
}

@media only screen and (max-width: 768px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .heading-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .menu-container{
        width: 90%;
        display: grid;
        grid-template-columns: 20%;
        grid-template-rows: auto;
        margin:  1em auto;
        gap: 1em;
    }
}